openapi: 3.0.0
servers:
  - url: 'https://api.paymentsos.com/'
info:
  x-logo:
    url: payos_logo_blue_pad.png
    backgroundColor: white
  description: >
    # Overview

  version: 1.2.0
  title: PaymentsOS API
tags:
  - name: Tokens
    description: >-
      Tokenization is a process that safeguards sensitive card data, converting
      a card's details to a representative token.
x-tagGroups:
  - name: Reference
    tags:
      - Tokens
security:
  - app-id: []
    private-key: []
paths:
  /pet-recursive:
    post:
      summary: Create a multiple pet
      security:
        - public-key: []
      description: >-
      tags:
        - pets
      operationId: create-a-token
      parameters:
        - $ref: '#/components/parameters/public-key'
      responses:
        '201':
          description: pet created
          headers:
            x-zooz-request-id:
              description: request id
              schema:
                type: string
        '400':
          description: Bad request
          headers:
            x-zooz-request-id:
              description: request id
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_model'
        '401':
          description: Unauthorize
          headers:
            x-zooz-request-id:
              description: request id
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_model'
        '500':
          description: Internal error
          headers:
            x-zooz-request-id:
              description: request id
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_model'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pet-recursive'
        description: Create pet
        required: true
components:
  parameters:
    public-key:
      name: public-key
      in: header
      required: true
      example: f8948bac-8f29-4a82-8cef-704fb1e6b7ca
      schema:
        type: string
  schemas:
    error_model:
      required:
        - description
        - category
      properties:
        category:
          type: string
          description: Error code.
        description:
          type: string
          description: Error message for the developer.
        more_info:
          type: string
          description: 'More info about the error, can include link to the documentation.'
    pet-recursive:
      description: pet
      type: object
      oneOf:
        - $ref: '#/components/schemas/dog_object_recursive'
        - $ref: '#/components/schemas/cat_object'
      discriminator:
        propertyName: type
    dog_object_recursive:
      type: object
      required:
        - type_recursive
      oneOf:
        - $ref: '#/components/schemas/pet-recursive'
      discriminator:
        propertyName: type_recursive
      properties:
        bark:
          type: string
    cat_object:
      type: object
      required:
        - fur
      properties:
        fur:
          type: string
          pattern: '^\d+$'